<!doctype html>
<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/mainstyle.css') }}">
   </head>
   <body>
      <h1>ANOVA и тесты на нормальность</h1>
      <p>Используемые столбцы: {{ fields[0] }} и {{ fields[1] }} </p>

      <h2>Тесты</h2>
      <p>
         Тест на нормальность (тест Шапиро) для {{ fields[0] }}:<br>
         {% if normality|length == 1: %}
             {{fields[0]}} распределена нормально, p = {{ normality[0] }}<br>
         {% elif normality|length == 2: %}
             {{fields[0]}} не распределена нормально, p = {{ normality[0] }}<br>
             {{fields[0]}} распределена нормально после log-трансформации, p = {{ normality[1] }}<br>
         {% elif normality|length == 4: %}
             {{fields[0]}} не распределена нормально, p = {{ normality[0] }}<br>
             {{fields[0]}} не распределена нормально после log-трансформации, p = {{ normality[1] }}<br>
            {% if normality[3]: %}
                {{fields[0]}} распределена нормально после log-трансформации или уменьшения выборки до 100 значений, p = {{ normality[2] }}<br>
            {% else %}
                {{fields[0]}} не распределена нормально после log-трансформации или уменьшения выборки до 100 значений, p = {{ normality[2] }}<br>
            {% endif %}
         {% endif %}
      </p>

      <p>
         {% if anova['ANOVA F'] > 0.05: %}
            ANOVA (F-тест односторонний): {{ anova['ANOVA F'] }}; p-value > 0.05, H0 принимается (выборки независимые)<br>
         {% else: %}
            ANOVA (F-тест односторонний): {{ anova['ANOVA F'] }}; p-value &lt; 0.05, H0 отклоняется (выборки зависимые)<br>
         {% endif %}

         {% if anova['heteroskedasticity'] > 0.05: %}
            Тест Левена: {{ anova['heteroskedasticity'] }}; p-value > 0.05, H0 принимается (модель гомоскедастична)<br>
         {% else: %}
            Тест Левена: {{ anova['heteroskedasticity'] }}; p-value &lt; 0.05, H0 отклоняется (модель гетероскедастична)<br>
         {% endif %}

         {% if anova['D-W'] > 3.5: %}
            Тест Дарбина-Уотсона: {{ anova['D-W'] }}, в модели обратная автокорреляция<br>
         {% elif anova['D-W'] < 0.5: %}
            Тест Дарбина-Уотсона: {{ anova['D-W'] }}, в модели автокорреляция<br>
         {% elif 1.5 < anova['D-W'] < 2.5: %}
            Тест Дарбина-Уотсона: {{ anova['D-W'] }}, в модели нет автокорреляции<br>
         {% else: %}
            Тест Дарбина-Уотсона: {{ anova['D-W'] }}, результат неизвестен или неточен<br> 
         {% endif %}
      </p>

      <h2>Дополнительная информация</h2>
      <p>
         <table border="1" cellpadding="4">
            {% for row in anova['additional summary'] %}
               <tr>
                  {% for cell in row: %}
                     <td> {{ cell }} </td>
                  {% endfor %}
               </tr>
            {% endfor %}
         </table>
      </p>

      <form>
         <input type="submit" value="Назад" formaction="http://localhost:2000/test" />
         <input type="submit" value="На главную" formaction="http://localhost:2000/login" />
      </form>
   </body>
</html>