<!doctype html>
<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/mainstyle.css') }}">
   </head>
   <body>
      <h1>Результаты вставки</h1>
      <p>Новая строка успешно внесена в DataFrame: </p>
      <table border="1" cellpadding="3">
         {% for key, value in result.items() %}
            <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>

      <form>
         <input type="submit" value="Назад" formaction="http://localhost:2000/insert" />
         <input type="submit" value="На главную" formaction="http://localhost:2000/login" />
      </form>
   </body>
</html>