<!doctype html>
<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/mainstyle.css') }}">
   </head>
   <body>
      <h1>Главная страница</h1>
      <p>Flask-сервер для работы с данными опроса начинающих "кодеров". Данные находятся в БД PostgreSQL. Для анализа используются модули pandas, scipy, statsmodels.</p>
      <table>
         <tr>
            {% for k in display_table.keys() %}
            <th> {{ k }} </th>
            {% endfor %}
         </tr>
         {% for i in range(5) %}
            <tr class="hoverable">
               {% for v in display_table.values() %}
               <td> {{ v[i] }} </td>
               {% endfor %}
            </tr>
         {% endfor %}
      </table>

      <form action = "http://localhost:2000/insert">
         <input type = "submit" value = "Вставить новые значения в DataFrame" />
      </form>

      <form action = "http://localhost:2000/test">
         <input type = "submit" value = "Тесты" />
      </form>
   </body>
</html>